<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section class="pt-5 pb-5 bg-dark inner-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-0 mb-3 text-danger">Generate Transcript</h1>
                <div class="breadcrumbs">
                    <p class="mb-0 text-white"><a class="text-white" href="#">Home</a>  /  <span class="text-success">About</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <select class="selectpicker" data-style="btn-primary">
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
    </select>
    <select class="selectpicker" data-style="btn-info">
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
    </select>
    <select class="selectpicker" data-style="btn-success">
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
    </select>
    <select class="selectpicker" data-style="btn-warning">
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
    </select>
    <select class="selectpicker" data-style="btn-danger">
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
    </select>
    <select class="selectpicker" data-style="btn-inverse">
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
    </select>
</section>